@import '@myst-theme/styles';

/* General input styles */
input.pmc-submit {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

input.pmc-submit:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input.pmc-submit[type='color'] {
  width: 50px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.pmc-submit {
  padding: 10px 20px;
  background-color: #345E98;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button.pmc-submit:hover {
  background-color: #2b4d7e;
  transform: scale(1.02);
}

button.pmc-submit:active {
  background-color: #233d65;
  transform: scale(0.98);
}

button.pmc-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}
